.root {
	background: #fff;
	padding: 10px;
	transition: 0.25s;
	align-items: center;
}

.completed {
	text-decoration: line-through;
	opacity: 0.5;
}

.box1 {
	display: flex;
	flex-grow: 1;
	//border: 1px black solid;
	width: 10%;
	justify-content: flex-end;
}

.box2 {
	display: flex;
	flex-grow: 5;
	//border: 1px black solid;
	width: 80%;
}

.box3 {
	display: flex;
	flex-grow: 1;
	//border: 1px black solid;
	width: 10%;
	justify-content: flex-start;
}